# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\masta\Desktop\프로그래머스\JAVA\x만큼 간격이 있는 n개의 숫자\.idea/dataSources/
/dataSources.local.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
